@import url('https://googleapis.com');

.background {
    position: absolute;
    top: 120px;
    left: 20;
    z-index: -1;
}

.background img {
    width: 280%;
    height: 280%;
}

.pokemon-sprite {
    position: absolute;
    top: 185px;
    left: 25px;
    z-index: 1;
    background-color: transparent;
    width: 250px;
    height: 250px;
}

.pokemon-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 100%
}

.sprite {
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
}

.pokemon-info {
    position: absolute;
    top: 170px;
    left: 365px;
    z-index: 1;
    font-family: 'Press Start 2P', cursive;
    image-rendering: pixelated;
    font-size: 22px;
    -webkit-font-smoothing: none;
}

.pokemon-name {
    position: relative;
    top: -20px;
    left: -50px;
    font-size: 28px;
}

.pokemon-id {
    position: relative;
}

.pokemon-height {
    position: relative;
    top: 52px;
    left: 130px;
}

.pokemon-weight {
    position: relative;
    top: 45px;
    left: 130px;
}

.types {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -140px;
    left: 80px;
}

.pokemon-type1 {
    position: relative;
}

.pokemon-type2 {
    position: relative;
    left: 80px;
}